/* 
 * alberti.css
 *
 * The order of rules below is important, as various scripts reference the 
 * rules by index number. New order-sensitive rules should be appended to the 
 * end of the section, and new properties should be appended to the end of 
 * each rule.
 *
 */

#selectionBox, #workspace .selected {
	stroke-dasharray: 4, 4;
}

#selectionBox {
	stroke: black;
}

/* * * * * * * * * * * Order below is NOT important. * * * * * * * * * * * */

#background {
	visibility: hidden;
}

#master {
	pointer-events: none;      /* Prevent selection of SVG objects */
	fill: none;
}

#workspace {
}

#overlay {
	stroke: red;
	fill: none;
}

#underlay {
	stroke: red;
	stroke-opacity: 0.2;
}

#underlayimg {
	position: absolute;
}

text {
	font-family: "Lucida Grande", Arial, sans-serif;
	font-size: 11px;
	pointer-events: none;
}

body {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	user-select: none;
}

#static_overlay text {
	fill: red;
}

.cursorDefault    { cursor: auto; }
.cursorZoomAndPan { cursor: move; }
.cursorCrosshair  { cursor: crosshair; }
.cursorBusy       { cursor: wait; }

.optimized {
	shape-rendering: crispEdges;
}

line {
	/*
	vector-effect is not supported in all implementations of SVG. A work-
	around can be activated in Alberti.js by setting Alberti.nonScalingLinesHack 
	to true. If the workaround is activated, the rule below must be commented 
	out.
	
	vector-effect: non-scaling-stroke;
	
	*/
}
