#layer_panel {
	position: absolute;
	bottom: 26px;
	margin-left: -10px;
	
	font-family: "Lucida Grande", Arial, sans-serif;
	font-size: 14px;
	
	pointer-events: all;
}

#layer_panel_dynamic {
	border-top-right-radius: 13px;
	color: #ddd;
	text-shadow: 1px 1px 0px #222;
	background-color: #000;
}

#layer_panel_control_strip {
	border-bottom: 1px solid #333;
	border-bottom-right-radius: 13px;
	color: #888;
	background-color: #fff;
}

#layer_panel_dynamic, #layer_panel_control_strip {
/*	
	Sadly, as nice as external box shadows look, they degrade performance
	significantly in Safari. For now, we must live with solid borders. One
	day, the borders will fall.
	
	-o-box-shadow: 1px 1px 2px #888;
	-moz-box-shadow: 1px 1px 2px #888;
	-webkit-box-shadow: 1px 1px 2px #888;
*/
	border-right: 1px solid #333;
}

.layer_panel_row {
	width: 210px;
	height: 17px;
	padding: 4px 4px 5px 16px;
	border-bottom: 1px solid #444;
	
	overflow: hidden;
	
	cursor: pointer;
}

.layer_panel_row.guiBtnToggled {
	background-image: url('../images/layer_row_selected.png');
	background-repeat: repeat-x;
}

.layer_panel_row.guiBtnDisabled {
	color: #686868;
	text-shadow: none;
}

#layer_panel_control_strip .layer_panel_row {
	border-bottom: 0;
	cursor: auto;
}

.layer_panel_row, .layer_name {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	user-select: none;
}

.layer_name {
	float: left;
	cursor: text;
	
	max-width: 150px;
	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

.visibility_toggle,
.new_layer_button,
.delete_layer_button,
.lp_collapse_button {
	width: 18px;
	height: 18px;
	margin-right: 4px;

	background-color: white;
	
	float: right;
	
	cursor: pointer;
}

.visibility_toggle.guiBtnToggled {
	background-color: gray;
}

.visibility_toggle.guiBtnDisabled {
	background-color: black;
}

.delete_layer_button.guiBtnDisabled {
	background-color: white;
}

.new_layer_button {
	float: left;
	background-color: blue;
}

.delete_layer_button {
	float: left;
	background-color: red;
}

.lp_collapse_button {
	margin-right: 0px;
	background-color: black;
}

.lp_collapse_button.guiBtnToggled {
	background-color: gray;
}

.color_well {
	width: 16px;
	height: 16px;
	margin: 1px;
	
	float: right;
	
	border-radius: 8px;
	background-color: #7788ff;
	
	box-shadow: inset -1px -1px 0px rgba(255, 255, 255, 0.75), inset 1px 1px 3px rgba(0, 0, 0, 0.5);
	-o-box-shadow: inset -1px -1px 0px rgba(255, 255, 255, 0.75), inset 1px 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset -1px -1px 0px rgba(255, 255, 255, 0.75), inset 1px 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset -1px -1px 0px rgba(255, 255, 255, 0.75), inset 1px 1px 3px rgba(0, 0, 0, 0.5);
	
	cursor: pointer;
}

.layer_name_input {
	position: relative;
	left: -5px;
	top: -3px;
	
	margin: 0;
	
	width: 212px;
	
	font-family: "Lucida Grande", Arial, sans-serif;
	font-size: 14px;
}
